
.markdown-editor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    color: #ffffff;
    height: 80vh;
  }
  
  .editor-pane, .preview-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border: 1px solid #555555;
    padding: 10px;
    border-radius: 4px;
  }
  
  textarea {
    flex: 1;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555555;
    border-radius: 4px;
    background-color: #444444;
    color: #ffffff;
    resize: none;
  }
  
  .preview-pane {
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 10px;
    border: 1px solid #555555;
    border-radius: 4px;
  }
  
  .preview {
    height: 100%;
    overflow-y: auto;
    background-color: #444444;
    border: 1px solid #555555;
    border-radius: 4px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .markdown-editor {
      flex-direction: column;
    }
  
    .editor-pane, .preview-pane {
      width: 100%;
    }
  
    textarea {
      height: 100vh;
    }
  
    .preview {
      height: 100vh;
    }
  }
  